{% extends  'base_user.html'%}

{% block title %}
注册
{% endblock %}


{% block content %}

                                 <div class="row align-items-center justify-content-center h-100">
               <div class="col-md-5">
                  <div class="card p-3">
                     <div class="card-body">
                        <div class="auth-logo">
                           <img src="https://weibo.com/favicon.ico" class="img-fluid  rounded-normal  darkmode-logo" alt="logo">
                           <img src="https://weibo.com/favicon.ico" class="img-fluid rounded-normal light-logo" alt="logo">
                        </div>
                        <h3 class="mb-3 font-weight-bold text-center">注册</h3>
                        <p class="text-center text-secondary mb-4">微博话题舆情分析可视化系统</p>
                        <div class="mb-5">
                            <p class="line-around text-secondary mb-0"><span class="line-around-1">输填写好注册信息方可完成注册</span></p>
                        </div>
                        <form method="post" action="/user/register">
                           <div class="row">
                              <div class="col-lg-12">
                                 <div class="form-group">
                                    <label class="text-secondary">用户名</label>
                                    <input name="username" class="form-control" type="text" placeholder="输入您的用户名">
                                 </div>
                              </div>
                              <div class="col-lg-12 mt-2">
                                 <div class="form-group">
                                         <label class="text-secondary">密码</label>
                                    <input name="password" class="form-control" type="password" placeholder="输入您的密码">
                                 </div>
                              </div>
                               <div class="col-lg-12 mt-2">
                                 <div class="form-group">
                                         <label class="text-secondary">确认密码</label>
                                    <input name="passwordCheked" class="form-control" type="password" placeholder="输入这次输入您的密码">
                                 </div>
                              </div>
                           </div>
                           <button type="submit" class="btn btn-primary btn-block mt-2">注册</button>
                           <div class="col-lg-12 mt-3">
                                <p class="mb-0 text-center">已有账号? <a href="/user/login">登录</a></p>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>

{% endblock %}